<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ctgu.bs_hotel.mapper.OrderMapper">

    <select id="selectAllOrderByUserId" resultType="com.ctgu.bs_hotel.entity.vo.UserCenterOrderVo">
        select `hotel`.hotel_name,`room`.room_name,`room`.room_img_url,`room`.room_service,
               `order`.start_of_date,`order`.end_of_date,`order`.order_status,`order`.order_id,`order`.order_price,
               `order`.order_user_name,`order`.order_user_telephone,`order`.order_user_ps,
               `order`.order_room_number,`order`.order_create_time,`order`.order_pay_time
        from `order`,`hotel`,`room`
        where `order`.open_id = #{userId} and `order`.hotel_id = `hotel`.hotel_id and `order`.room_id = `room`.room_id
    </select>

    <select id="selectToPayOrderByUserIdAndSelectedIndex" resultType="com.ctgu.bs_hotel.entity.vo.UserCenterOrderVo">
        select `hotel`.hotel_name,`room`.room_name,`room`.room_img_url,`room`.room_service,
               `order`.start_of_date,`order`.end_of_date,`order`.order_status,`order`.order_id,`order`.order_price,
               `order`.order_user_name,`order`.order_user_telephone,`order`.order_user_ps,
               `order`.order_room_number,`order`.order_create_time,`order`.order_pay_time
        from `order`,`hotel`,`room`
        where `order`.open_id = #{userId} and `order`.hotel_id = `hotel`.hotel_id and `order`.room_id = `room`.room_id and `order`.order_status = #{selectedIndex}
    </select>

    <select id="selectAllOrderByHotelId" resultType="com.ctgu.bs_hotel.entity.vo.OrderVo">
        select `order`.order_id,`order`.order_user_name,`order`.order_user_telephone,`order`.start_of_date,`order`.end_of_date,
               `order`.order_price,`order`.order_user_ps,`room`.room_name,`order`.order_room_number,
               `order`.order_create_time,`order`.order_pay_time,`order`.order_status
        from `order`,`room`
        where `order`.room_id = `room`.room_id and `order`.hotel_id = #{hotelId}
    </select>

    <update id="updateOrderNameAndTelphone">
        update `order`
        set `order`.order_user_name = #{param2},`order`.order_user_telephone = #{param3},`order`.order_status = #{param4}
        where `order`.order_id = #{param1}
    </update>

    <update id="confirmOrder">
        update `order`
        set `order`.order_status = 2
        where `order`.order_id = #{id}
    </update>

    <update id="cancelOrder">
        update `order`
        set `order`.order_status = 4
        where `order`.order_id = #{id}
    </update>

    <insert id="saveOrder" parameterType="com.ctgu.bs_hotel.entity.Order">
        insert into `order`(open_id,start_of_date,end_of_date,order_price,hotel_id,room_id,order_user_name,order_user_telephone,order_user_ps,order_room_number,order_create_time,order_status)
        values(#{openId},#{startOfDate},#{endOfDate},#{orderPrice},#{hotelId},#{roomId},#{orderUserName},#{orderUserTelephone},#{orderUserPs},#{orderRoomNumber},#{orderCreateTime},#{orderStatus})
    </insert>

    <select id="selectOrderById" resultType="com.ctgu.bs_hotel.entity.Order">
        select `order`.order_user_name,`order`.order_user_telephone,`order`.order_create_time,`order`.order_pay_time
        from `order`
        where `order`.order_id = #{orderId}
    </select>

    <update id="toPayOrder">
        update `order`
        set `order`.order_status = 1,`order`.order_pay_time = #{param2}
        where `order`.order_id = #{param1}
    </update>

</mapper>
